.transaction_card{
    padding: 15px 30px;
    background-color: var(--secondary);
    border: 1px solid var(--lineColour);
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.transaction_card:hover{
    transform: scale(1.004);
    filter: brightness(1.4);
}
.transaction_card .box svg{
    font-size: 28px;
}
.transaction_card .box .content .subtext{
    font-size: 12px;
    color: grey;
}
.transaction_card .box .content .text{
    font-size: 16px;
}