.modal .ant-select {
    float: none;
    width: 200px;
    background-color: var(--primary);
    margin-left: 20px;
}
.crypto_stock .row > .heading{
    font-size: 24px;
    text-align: center;
}
.crypto_stock .user_investment .heading{
    font-size: 22px;
    color: var(--headingColour);
    text-align: center;
}
.crypto_stock .user_investment .title{
    font-size: 18px;
    font-weight: 500;
    border-top: 1px solid var(--lineColour);
    border-bottom: 1px solid var(--lineColour);
}
.crypto_stock .user_investment .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
}
.crypto_stock .user_investment .data .stock_symbol{
    font-size: 12px;
}
.crypto_stock .user_investment .invest_data{
    position: relative;
}
.crypto_stock .user_investment .invest_data .symbol{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
    height: 50px;
    width: 50px;
}
.crypto_stock .user_investment .data .status{
    font-size: 12px;
}
.crypto_stock .user_investment .data .profit svg,
.crypto_stock .user_investment .data .loss svg,
.crypto_stock .user_investment .data .zero svg{
    margin-right: 2px;
}
.crypto_stock .user_investment .data .profit,
.crypto_stock .user_investment .data .profit svg path{
    color: var(--success);
}
.crypto_stock .user_investment .data .zero,
.crypto_stock .user_investment .data .zero svg path{
    color: var(--fontColour);
}
.crypto_stock .user_investment .data .loss,
.crypto_stock .user_investment .data .loss svg path{
    color: var(--danger);
}
.crypto_stock .user_investment .invest_data .modify{
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 5px;
    opacity: 0;
    width: max-content;
    transition: 0.5s ease-in-out;
}
.crypto_stock .user_investment .invest_data .modify.edit{
    top: 8px;
}
.crypto_stock .user_investment .invest_data .modify.delete{
    bottom: 8px;
}
.crypto_stock .user_investment .invest_data:hover .modify{
    opacity: 1;
}
.crypto_stock .user_investment .bottom_footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    border-top: 1px solid var(--lineColour);
}