.modal label{
    font-size: 18px;
}
.modal .name_box{
    padding: 5px;
    background-color: var(--secondary);
    border: 2px solid var(--lineColour);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    word-wrap: break-word;
    transition: 0.3s ease-in-out;
}
.modal .name_box:hover{
    filter: brightness(1.2);
}
.modal .name_box.highlight{
    filter: brightness(1.4);
    transform: scale(1.1);
}
.modal .name_box.add_name{
    border: 2px dashed var(--lineColour);
}
.modal .col_heading{
    font-size: 18px;
}
.modal .active{
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid var(--danger);
    color: var(--danger);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.modal .active.highlight,
.modal .active:hover{
    background-color: var(--danger);
    color: white;
}
.modal .completed{
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid var(--success);
    color: var(--success);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.modal .completed.highlight,
.modal .completed:hover{
    background-color: var(--success);
    color: white;
}
.no_data{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 2px dashed var(--lineColour);
    border-radius: 5px;
    height: 29vh;
}
.modal_calculations{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_calculations.fullrow{
    justify-content: space-evenly;
}
.debt_details > .heading{
    font-size: 28px;
    text-align: center;
}
.debt_details .pie_heading{
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.debt_details .sub_heading{
    font-size: 24px;
}
.debt_details .debt_table{
    padding-inline: 10px;
}
.debt_details .debt_table .heading_row .heading{
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid var(--lineColour);
    padding-block: 10px;
}
.debt_details .debt_table .data_scroll{
    max-height: 70vh;
    overflow-y: scroll;
}
.debt_details .debt_table .data_scroll::-webkit-scrollbar {
    width: 0.3vw;
}
.debt_details .debt_table .data_row{
    position: relative;
    border-bottom: 1px solid var(--lineColour);
}
.debt_details .debt_table .data_row .data{
    padding-block: 5px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
}
.debt_details .debt_table .data_row .data .name{
    position: relative;
    width: fit-content;
}
.debt_details .debt_table .data_row .data .name::after{
    content: '';
    position: absolute;
    bottom: -0px;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: white;
    transition: 0.25s ease-in-out;
}
.debt_details .debt_table .data_row .data.name_sec:hover{
    cursor: pointer;
}
.debt_details .debt_table .data_row .data.name_sec.no_line:hover{
    cursor: initial;
}
.debt_details .debt_table .data_row .data:hover .name::after{
    width: 100%;
}
.debt_details .debt_table .data_row .edit,
.debt_details .debt_table .data_row .delete{
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}
.debt_details .debt_table .data_row .edit{
    right: 40px;
}
.debt_details .debt_table .total_sec{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
.debt_details .debt_table .total_sec div{
    margin-left: 10px;
}
.debt_details .data_sec .status_bar{
    position: relative;
    background-color: var(--secondary);
    filter: brightness(1.4);
    border-radius: 50px;
    height: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}
.debt_details .data_sec .status_bar .progress_bar{
    background-color: var(--primary);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50px;
    padding-right: 10px;
    /* border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
    transition: 0.25s ease-in-out;
}
.debt_details .data_sec .status_bar .progress_bar .percentage{
    font-size: 14px;
}
.debt_details .data_sec .status_bar .progress_bar .percentage.outside{
    transform: translateX(60px);
}
.debt_details .data_sec .amount{
    font-size: 18px;
    text-align: end;
}
.debt_details .details_cont .col-3{
    padding-inline: 5px;
}
.debt_details .details_cont .detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    filter: brightness(1.2);
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.debt_details .details_cont .detail:hover{
    filter: brightness(1.4);
}
.debt_details .details_cont .detail .title{
    margin-right: 10px;
}