.add_transaction_btn{
    position: fixed;
    display: grid;
    place-items: center;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size: 32px;
    background-color: var(--secondary);
    border: 2px solid var(--lineColour);
    cursor: pointer;
    z-index: 5;
}
.add_transaction_btn:hover{
    filter: brightness(1.1);
}
.add_transaction_btn .text{
    position: absolute;
    width: max-content;
    padding: 5px 10px;
    background-color: var(--primary);
    border: 2px solid var(--lineColour);
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transform: translate(-70%, 10px);
    transition: 0.25s ease-in-out;
}
.add_transaction_btn:hover .text{
    opacity: 1;
    transform: translate(-70%, 0);
}
.trans_dashboard .row .heading_cont{
    display: flex;
    justify-content: space-between;
}
.trans_dashboard .row .heading_cont .heading{
    font-size: 24px;
}
.trans_dashboard .invest_list{
    background-color: var(--secondary);
    padding-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 600px;
    overflow-y: scroll;
}
.trans_dashboard .invest_list.heading_sec{
    padding-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 10px;
}
.trans_dashboard .invest_list::-webkit-scrollbar {
    width: 0.4vw;
}
.trans_dashboard .invest_list .invest{
    background-color: var(--secondary);
    filter: brightness(1.2);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.trans_dashboard .invest_list .invest:hover{
    transform: scale(1.01);
    filter: brightness(1.4);
}
.trans_dashboard .invest_list .invest.heading:hover{
    transform: scale(1);
    filter: brightness(1.2);
}
.trans_dashboard .invest_list .invest .data{
    display: flex;
    justify-content: center;
    align-items: center;
}